@import url('https://fonts.googleapis.com/css2?family=Heebo:wght@400;900&display=swap');

body {
  font-family: 'Heebo', Arial, Helvetica, sans-serif;
}
ul.links {
  list-style-type: none;
  margin: 0;
  padding: 0;
}
